{% extends 'base.html.twig' %}

{% block title %}UserQuest index{% endblock %}

{% block body %}
    <h1>UserQuest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_quest in user_quests %}
            <tr>
                <td>{{ user_quest.id }}</td>
                <td>
                    <a href="{{ path('app_user_quest_show', {'id': user_quest.id}) }}">show</a>
                    <a href="{{ path('app_user_quest_edit', {'id': user_quest.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_quest_new') }}">Create new</a>
{% endblock %}
