{% extends 'base.html.twig' %}

{% block title %}New UserQuest{% endblock %}

{% block body %}
    <h1>Create new UserQuest</h1>

    {{ include('user_quest/_form.html.twig') }}

    <a href="{{ path('app_user_quest_index') }}">back to list</a>
{% endblock %}
